  /* CSS for Square boxes */
  /* span_1 {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: #DCDCDC;
} */


span_1 {
    display: inline-block;
    width: 2000px;
    height: 30px;
    margin: 6px;
    /* background-color: #DCDCDC; */
    background-color: whitesmoke;
}



.image_placeholder{
  background: url('images/companyLogo.png') no-repeat;
  width: 100px;;
  height:100px;
}

.logo{

  width:2000px;

  margin-left: 10px;
  margin-top: 10px;
  margin-right: 100px;
}


.first_element{
  margin-left: 400px;


}



.logo_2{
  margin-right: 50px;
}
